# infra
.terraform/
*.out
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.zip
terraform.tfvars

# web
node_modules/
dist/
.firebase/

# macOS
.DS_Store

# Xcode per-user config
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# Xcode build products
build/
*.o
*.LinkFileList
*.hmap

# Xcode env vars
Env.xcconfig