# infra
.terraform/
*.out
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.zip
terraform.tfvars

# web
node_modules/
dist/
.firebase/

# apple
.DS_Store
xcuserdata/
build/
.build/
DerivedData/
*.pbxuser
*.xcuserstate
*.xcworkspace/
*.log
Packages/
Package.pins
Package.resolved
.swiftpm
*.xcodeproj